$light-gray: rgb(44, 45, 48);
$orange: rgb(228, 102, 70);

* {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100%;
  overflow: auto;
}

body {
  background-color: $light-gray;
  color: rgb(255, 255, 255);
  margin: 0;
}

a {
  color: $orange;
  text-decoration: none;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

blockquote {
  background-color: $light-gray;
  border-radius: 0 4px 4px 0;
  border-left: 4px solid $orange;
  padding: 1em;
  margin: 1em 0;
  word-wrap: break-word;
}

pre > code {
  display: block;
  padding: 2em;
}

code {
  background-color: $light-gray;
  padding: .5em 1em;
  border-radius: 4px;
  overflow-x: auto;
}

h6 {
  color: $orange;
  font-size: 1rem;
  margin: 1em 0;
}

table {
  border-spacing: 0;
  border: 1px solid $light-gray;
}

thead {
  background-color: $light-gray;
}

th, td {
  border: 1px solid $light-gray;
  padding: .5em 1em;
}
